<br><br><br>
<div id = "editBoard">
    
<div class = "centerTitle" >
<h1 align-text: "center">New Board</h1>
<br>
<div class = "centerText">
<%= render 'form', board: @board %>
<br><br><br>
<%= link_to 'Back', boards_path %>
</div>
</div>