
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
<br>
<button onclick="newTaskFunction()" type="button">New Task</button>
<br>

<%= javascript_include_tag 'Kanban.js' %>
<!--<div style="width:225px; height:600px; padding-top: 10px; margin-left: 60px; margin-top:25px; text-align: center; border:1px solid #000;position:absolute;">Backlog</div>
<!--<div style="width:225px; height:600px;  padding-top: 10px; margin-top:25px; text-align: center; border:1px solid #000;position:absolute;">To Do</div>-->
<!--<div style="width:225px; height:600px; float: left; padding-top: 10px; margin-top:25px; text-align: center; border:1px solid #000;position:absolute;">In Progress</div>
<!--<div style="width:225px; height:600px; float: left; padding-top: 10px; margin-top:25px; text-align: center; border:1px solid #000;position:absolute;">Testing</div>
<!--<div style="width:225px; height:600px; float: left; padding-top: 10px; margin-top:25px; text-align: center; border:1px solid #000;position:absolute;">Complete</div>!-->
<div style="width:225px; height:600px; padding-top: 10px; margin-left: 0%; margin-top:25px; text-align: center; border:1px solid #000;position:absolute;">Backlog</div>
<div style="width:225px; height:600px;  padding-top: 10px;margin-left: 20%; margin-top:25px; text-align: center; border:1px solid #000;position:absolute;">To Do</div>
<div style="width:225px; height:600px; padding-top: 10px;margin-left: 40%; margin-top:25px; text-align: center; border:1px solid #000;position:absolute;">In Progress</div>
<div style="width:225px; height:600px; padding-top: 10px;margin-left: 60%; margin-top:25px; text-align: center; border:1px solid #000;position:absolute;">Testing</div>
<div style="width:225px; height:600px;  padding-top: 10px;margin-left: 80%; margin-top:25px; text-align: center; border:1px solid #000;position:absolute;">Complete</div>



<!--  websites for drag/drop help 

https://codepen.io/retrofuturistic/pen/tlbHE 

https://www.html5rocks.com/en/tutorials/dnd/basics/

-->