  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav>
  <!-- <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Kanban Collab</a>
    </div>
    <ul class="nav navbar-nav">
      <!--<li class="active"><a href="#">Home</a></li>-->
     
   <!-- </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div> -->
</nav>
<body id="bodyStyle">
        <div id="screenHeight">
  <img class="welcomeImage" src="KanbanCollabCloud.png" alt="Collabphoto">
    </div>
    <div class="textContainer">
    <h2>The Virtual Project Management Website</h2>
        <h3>Developed By Students Of<a id="UNCC" href="https://www.uncc.edu/" target="_blank";> UNC Charlotte</a></h3>
        <br>
        <br>
        <br>
        <br>
        <%= button_to "Log In", new_user_session_path, :method => "get", :form => {:id => "LogIn"}%>
        <%= button_to "Create User", new_user_registration_path, :method => "get", :form_class => "NewUser" %>
         </div> 
    
</body>
