<<<<<<< HEAD
  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<nav>
   <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Kanban Collab</a>
    </div>
    <ul class="nav navbar-nav">
      <!--<li class="active"><a href="#">Home</a></li>-->
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<header>
<h1>Kanban Collab</h1>
    <h2>The Virtual Project Management Website</h2>
        <h3>Developed By Students For Students</h3>
</header>
<body>
    <div>
    <img src="CollabCopy.png" />
    </div>
    
</body>
=======
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

>>>>>>> sly2.0
