<br><br><br><br><br>
<div id = "editTaskBox">
<br><br><br>
<div class = "centerTitle" 
<h1 align-text: "center">New Task</h1>
<br><br>

<div class = "centerText">
<%= render 'form', task: @task %>
<br><br>
<%= link_to 'Back', @board %>
<br><br>
</div>
</div>