/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    // color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}

.nav.navbar-right li{
  color: #fff;
}
#SignInDiv h1{
  left: 10%;
  
}
#SignInDiv{
  position: relative;
  width: 100%;
  left: 24%;
}
.form-group{
  width: 50%;
  
}

#container{
 background-image:linear-gradient(rgb(0,0,0), rgb(48,48,48)	);
}

.NavMyProjectBttn{
  top: 14px;
  position: relative;
  border: none;
  text-decoration: none;
  background-color: inherit;
  color: rgb(55,123,181);
  font-size: 15px;
}
.NavMyProjectBttn:hover{
  background-color: rgb(238,238,238);
}
.ProjectList{
  background-color: inherit;
  color: #337ab7;
  height: 50px;
  
}
.ProjectList:hover{
    background-color: rgb(238,238,238);
}
.ProjectList:hover button{
      color: rgb(50,103,138);

}

