.title{
    height: 90px;
    color: black;
    vertical-align: middle;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: Permanent Marker;
    font-style: italic;
    background-color:rgb(0,133,202);
    position: relative;
}

#editBox{
    height: 10%;
    text-align: center;
    background-color:rgb(0,133,202);
    border: 2px, solid, black;
    font-size: 30px;
    position: relative;
    vertical-align: center;
    padding-bottom: 10%;
}
#editBox a{
    color: black;

    
}

td:nth-child(2) {
   padding-left: 4px;
   padding-right: 4px;
}

.DashboardStyle{
   background-image:linear-gradient(lightgrey, grey);
}
#dashboardTitle{
    text-align: center;
    font-size: 60px;
}
.ExistingBoards #BoardNmeStyle{
    text-align: center;
    width: 250px;
    position: relative;
    font-size: 24px;
    font-family: Permanent Marker;
}
#DashProjectDeleteStyle, #DashProjectEditStyle, #DashProjectShowStyle{
    display:inline-block;
    text-align:center;
    
}

#horizontalLine{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #101820;
    margin: 1em 0;
    padding: 0;
}

.ExistingBoards{
    font-size: 16px;
    border: 3px solid #0085CA;
    text-align: center;
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 25px;
    background-color: #101820;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.ExistingBoards:hover{
    
    text-align: center;
    background-color:#BFC0BF;
}

#board .column{
  
    background-image:linear-gradient(lightgrey, grey);
       
       //rgb(191,192,191);
}

#board{
    position: absolute;
    top: 26%;
    z-index: 2;
    width: 100%;
    height: 100%;
    font-family: 'Arial';
    font-style: italic;
    font-size: 24px;
    font-variant: normal; 
    font-weight: bold; 
    line-height: 26px;
}

.column{
    font-size: 28px;
    font-weight: bold;
    width:20%; 
    height:100%; 
    padding-top: 10px;
    text-align: center; 
    border:1px solid #000;
    position:absolute;
}

#NewTaskButton{
    position: relative;
    max-width:15%;
    z-index:1;
    top: 5px;
    left: 18%;
    font-size: 26px;
    justify-content: center;

}
#NewProjectBttn{
    font-size: 25px;
    border:2px solid #428bca;
    width:10%;
    left:2%;
    position:relative;
    padding: 8px;
    background-color: black;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container#NewProjectBttn:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

#backlog{
    margin-left: 0%;
}
#toDo{
    margin-left: 20%;
}
#inProgress{
    margin-left: 40%;
}
#testing{
    margin-left: 60%;
}
#complete{
    margin-left: 80%;
}

.centerTitle{
    text-align: center;
    font-size: 30px;
}
.centerText{
    text-align: center;
    font-size: 18px;
    a {color: rgb(0,0,0);}
    a:visited{color: rgb(0,0,0);}
    a:hover{color: rgb(0,0,0);}
    a:active{color: rgb(0,0,0);}
}

#editBoard {
    background-color: #BFC0BF;
    padding: 10px;
    border: 3px solid black;
    width: 40%;
    height: 40%;
    margin: auto;
}

.button_to{
    color: black;
    float: left;
}

#container{
    background-color: white;
    // position:relative;
    width: 100%;

}